body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.header-samuel {
    background: url('../img/samuel_img/bg.png') no-repeat center center;
    background-size: cover;
    padding: 0px;
    color: #fff;
    text-align: center;
    position: relative;
    height: 100vh;
    width: 100%;
}

.top-section-samuel{
    display: flex;
    justify-content: end;
    background-color: #3E3E3E;
}

.top-section-samuel a{
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-weight: bold;
}

.top-section-samuel img{
    margin-left: 15px;
}

.top-bar-samuel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    height: 75px;
}

.logo-samuel img {
    margin: 10px;
    height: 50px;
}

.nav-samuel ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-samuel ul li a {
    color: #ff4a4a;
    text-decoration: none;
    font-weight: bold;
}

.user-actions-samuel a {
    color: #ff4a4a;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
}

.campaign-samuel {
    border: 2px solid #ff4a4a;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #ff4a4a;
}

.main-content-samuel{
    padding: 5% 20% 0px 20%;
    text-align: left;
    border: #F25835;
}

.main-content-samuel h1 {
    font-size: 36px;
    margin: 10px 0;
    text-align: left;
    color: #F35924;
}

.main-content-samuel h2 {
    font-size: 48px;
    color: #ff4a4a;
    margin: 10px 0;
    text-align: left;
    font-weight: bold;
}

.description-samuel {
    color: #515151;
    font-size: 18px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    border: 5PX solid #FBFBFB;
}

.event-details-samuel {
    font-size: 24px;
    line-height: 1.5;
    color: #595959;
}
